body {
  margin: 0;
  padding: 0;
  background: #0d1117;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #e6edf3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-center {
  width: 380px;
  padding: 30px;
  border-radius: 12px;
  background: #161b22;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}

h1,
h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  margin-bottom: 18px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #30363d;
  background: #0d1117;
  color: white;
  font-size: 15px;
}

.button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #238636;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  font-size: 15px;
}
.button:hover {
  background: #2ea043;
}
.link-button {
  display: block;
  margin: 10px 0;
  color: #58a6ff;
  text-decoration: none;
}
.link-button:hover {
  text-decoration: underline;
}
